In [5]:
import pandas as pd
import mathplotlib.pyplot as plt

In [6]:
df = pd.read_csv("Well_58-32_processed_pason_log.csv")

In [7]:
df.head()

,Depth(ft),Depth(m),ROP(1 ft),ROP(1 m),weight on bit (k-lbs),weight on bit (kg),Temp Out( degF),Temp Out( degC),Temp In(degF),Temp In(degC),...,Surface Torque (KPa),Rotary Speed (rpm),Flow In (gal/min),Flow In(liters/min),Flow Out %,WH Pressure (psi),WH Pressure (KPa),H2S Floor,H2S Cellar,H2S Pits
0,85.18,25.96,56.80,17.31,0.0,0.0,93.49,34.16,90.87,32.71,...,61.57,151.09,1109.58,4200.22,101.61,-1230.69,-8485.61,-0.01,-0.03,0.31
1,86.18,26.27,61.14,18.63,0.0,0.0,93.52,34.18,90.83,32.68,...,61.57,151.09,1108.36,4195.60,101.70,-1230.69,-8485.61,-0.01,-0.04,0.31
2,87.23,26.59,18.58,5.66,0.0,0.0,94.25,34.58,90.91,32.73,...,62.12,61.54,1102.87,4174.82,96.81,-1230.69,-8485.61,-0.01,-0.03,0.30
3,88.26,26.90,38.29,11.67,0.0,0.0,94.44,34.69,91.14,32.86,...,61.85,60.23,1101.04,4167.89,96.67,-1230.69,-8485.61,0.00,-0.03,0.31
4,89.36,27.24,394.38,120.20,0.0,0.0,94.48,34.71,91.18,32.88,...,61.85,61.75,1102.46,4173.26,96.63,-1230.69,-8485.61,-0.02,-0.02,0.31

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7311 entries, 0 to 7310
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Depth(ft)              7311 non-null   float64
 1   Depth(m)               7311 non-null   float64
 2   ROP(1 ft)              7311 non-null   float64
 3   ROP(1 m)               7311 non-null   float64
 4   weight on bit (k-lbs)  7311 non-null   float64
 5   weight on bit (kg)     7311 non-null   float64
 6   Temp Out( degF)        7311 non-null   float64
 7   Temp Out( degC)        7311 non-null   float64
 8   Temp In(degF)          7311 non-null   float64
 9   Temp In(degC)          7311 non-null   float64
 10  Pit Total (bbls)       7311 non-null   float64
 11  Pit Total (m3)         7311 non-null   float64
 12  Pump Press (psi)       7311 non-null   float64
 13  Pump Press (KPa)       7311 non-null   float64
 14  Hookload (k-lbs)       7311 non-null   float64
 15  Hookload (kg)          7311 non-null   float64
 16  Surface Torque (psi)   7311 non-null   float64
 17  Surface Torque (KPa)   7311 non-null   float64
 18  Rotary Speed (rpm)     7311 non-null   float64
 19  Flow In (gal/min)      7311 non-null   float64
 20  Flow In(liters/min)    7311 non-null   float64
 21  Flow Out %             7311 non-null   float64
 22  WH Pressure (psi)      7311 non-null   float64
 23  WH Pressure (KPa)      7311 non-null   float64
 24  H2S Floor              7311 non-null   float64
 25  H2S Cellar             7311 non-null   float64
 26  H2S Pits               7311 non-null   float64
dtypes: float64(27)
memory usage: 1.5 MB

In [9]:
df.columns

Index(['Depth(ft)', 'Depth(m)', 'ROP(1 ft)', 'ROP(1 m)',
       'weight on bit (k-lbs)', 'weight on bit (kg)', 'Temp Out( degF)',
       'Temp Out( degC)', 'Temp In(degF)', 'Temp In(degC)', 'Pit Total (bbls)',
       'Pit Total (m3)', 'Pump Press (psi)', 'Pump Press (KPa)',
       'Hookload (k-lbs)', 'Hookload (kg)', 'Surface Torque (psi)',
       'Surface Torque (KPa)', 'Rotary Speed (rpm)', 'Flow In (gal/min)',
       'Flow In(liters/min)', 'Flow Out %', 'WH Pressure (psi)',
       'WH Pressure (KPa)', 'H2S Floor', 'H2S Cellar', 'H2S Pits'],
      dtype='object')

In [10]:
selected_cols =['Depth(m)', 'ROP(1 m)','weight on bit (kg)','Temp Out( degC)','Temp In(degC)', \
                'Pump Press (KPa)','Hookload (kg)','Surface Torque (KPa)', 'Rotary Speed (rpm)']
df = df[selected_cols]

In [20]:
df.head()

,Depth(m),ROP(1 m),weight on bit (kg),Temp Out( degC),Temp In(degC),Pump Press (KPa),Hookload (kg),Surface Torque (KPa),Rotary Speed (rpm)
0,25.96,17.31,0.0,34.16,32.71,3197.35,14408.16,61.57,151.09
1,26.27,18.63,0.0,34.18,32.68,3168.46,14063.49,61.57,151.09
2,26.59,5.66,0.0,34.58,32.73,3134.26,14063.49,62.12,61.54
3,26.90,11.67,0.0,34.69,32.86,3110.61,14131.52,61.85,60.23
4,27.24,120.20,0.0,34.71,32.88,3144.74,14303.85,61.85,61.75

In [21]:
df.tail()

,Depth(m),ROP(1 m),weight on bit (kg),Temp Out( degC),Temp In(degC),Pump Press (KPa),Hookload (kg),Surface Torque (KPa),Rotary Speed (rpm)
7306,2295.71,3.29,13854.88,59.38,49.57,10681.94,58335.60,1049.76,34.91
7307,2296.01,4.12,13709.75,59.38,49.52,10796.88,58480.73,1040.52,34.78
7308,2296.32,3.85,13582.77,59.49,49.57,10389.45,58607.71,1059.97,34.72
7309,2296.63,4.49,14086.17,59.62,49.63,9710.37,58104.31,999.78,36.49
7310,2296.94,3.95,13877.55,59.66,49.59,9626.73,58312.93,1025.01,34.06

In [13]:
fig = fi
fig.plot(df["ROP(1 m)"])

NameError: name 'fig' is not defined

In [11]:
df.corr()

,Depth(m),ROP(1 m),weight on bit (kg),Temp Out( degC),Temp In(degC),Pump Press (KPa),Hookload (kg),Surface Torque (KPa),Rotary Speed (rpm)
Depth(m),1.000000,-0.508247,0.760430,0.371243,-0.039279,0.705514,0.944648,0.316396,-0.565349
ROP(1 m),-0.508247,1.000000,-0.523441,-0.426404,-0.221713,-0.493190,-0.426580,-0.380201,0.289070
weight on bit (kg),0.760430,-0.523441,1.000000,0.438218,0.148292,0.594060,0.593268,0.321042,-0.459251
Temp Out( degC),0.371243,-0.426404,0.438218,1.000000,0.903097,0.580856,0.239998,0.371688,-0.184890
Temp In(degC),-0.039279,-0.221713,0.148292,0.903097,1.000000,0.317467,-0.160107,0.267185,0.052885
Pump Press (KPa),0.705514,-0.493190,0.594060,0.580856,0.317467,1.000000,0.610788,0.345732,-0.581863
Hookload (kg),0.944648,-0.426580,0.593268,0.239998,-0.160107,0.610788,1.000000,0.203117,-0.530591
Surface Torque (KPa),0.316396,-0.380201,0.321042,0.371688,0.267185,0.345732,0.203117,1.000000,0.050770
Rotary Speed (rpm),-0.565349,0.289070,-0.459251,-0.184890,0.052885,-0.581863,-0.530591,0.050770,1.000000

In [18]:
time_df = pd.read_csv("Well_58-32_raw_pason_log.csv")
time_df.head()

,Date,Time,Depth (ft),Depth (m),Block Ht (ft),Block Ht (m),Bit Depth (ft),Bit Depth (m),ROP(1 ft),ROP(1 m),...,Pit Total (bbls),Pit Total (m3),Flow In (gal/min),Flow In (liters/min),Flow Out (gal/min),Flow Out (liters/min),Temp In (F),Temp In (C),Temp Out (F),Temp Out (C)
0,7/31/17,10:07:57,81.0,24.69,-9999.0,-2610.02,0.0,0.0,0.0,0.0,...,187.92,29.88,0.0,0.0,0.35,1.32,91.14,32.86,85.1,29.5
1,7/31/17,10:07:58,81.0,24.69,-9999.0,-2610.02,0.0,0.0,0.0,0.0,...,185.77,29.54,0.0,0.0,0.35,1.32,91.14,32.86,85.1,29.5
2,7/31/17,10:07:59,81.0,24.69,-9999.0,-2610.02,0.0,0.0,0.0,0.0,...,184.84,29.39,0.0,0.0,0.35,1.32,91.14,32.86,85.1,29.5
3,7/31/17,10:08:00,81.0,24.69,-9999.0,-2610.02,0.0,0.0,0.0,0.0,...,184.60,29.35,0.0,0.0,0.35,1.32,91.10,32.83,85.1,29.5
4,7/31/17,10:08:01,81.0,24.69,-9999.0,-2610.02,0.0,0.0,0.0,0.0,...,184.24,29.29,0.0,0.0,0.35,1.32,91.10,32.83,85.1,29.5

In [81]:
time_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3397398 entries, 0 to 3397397
Data columns (total 29 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Date                   object
 1   Time                   object
 2   Depth (ft)             float64
 3   Depth (m)              float64
 4   Block Ht (ft)          float64
 5   Block Ht (m)           float64
 6   Bit Depth (ft)         float64
 7   Bit Depth (m)          float64
 8   ROP(1 ft)              float64
 9   ROP(1 m)               float64
 10  Hookload (k lbs)       float64
 11  Hookload (kg)          float64
 12  Pump Pressure (psi)    float64
 13  Pump Press (KPa)       float64
 14  Surface Torque (psi)   float64
 15  Surface Torque (KPa)   float64
 16  Rotary Speed (rpm)     float64
 17  Pump 1 (spm)           float64
 18  Pump 2 (spm)           float64
 19  Pit Total (bbls)       float64
 20  Pit Total (m3)         float64
 21  Flow In (gal/min)      float64
 22  Flow In (liters/min)   float64
 23  Flow Out (gal/min)     float64
 24  Flow Out (liters/min)  float64
 25  Temp In (F)            float64
 26  Temp In (C)            float64
 27  Temp Out (F)           float64
 28  Temp Out (C)           float64
dtypes: float64(27), object(2)
memory usage: 751.7+ MB

In [83]:
time_df[time_df["Depth (m)"]==25.96

,Date,Time,Depth (ft),Depth (m),Block Ht (ft),Block Ht (m),Bit Depth (ft),Bit Depth (m),ROP(1 ft),ROP(1 m),...,Pit Total (bbls),Pit Total (m3),Flow In (gal/min),Flow In (liters/min),Flow Out (gal/min),Flow Out (liters/min),Temp In (F),Temp In (C),Temp Out (F),Temp Out (C)
49072,7/31/17,23:50:13,85.18,25.96,57.25,14.94,85.18,25.96,1126.8,343.43,...,274.83,43.69,1109.58,4200.22,101.61,384.64,90.87,32.71,93.49,34.16

In [77]:
start = (time_df[time_df["Depth (m)"]==25.96].index)[0]
end = (time_df[time_df["Depth (m)"]==2296.94].index)[0]
new_time_df = time_df.iloc[start:end,:]

In [82]:
new_time_df[:20]

,Date,Time,Depth (ft),Depth (m),Block Ht (ft),Block Ht (m),Bit Depth (ft),Bit Depth (m),ROP(1 ft),ROP(1 m),...,Pit Total (bbls),Pit Total (m3),Flow In (gal/min),Flow In (liters/min),Flow Out (gal/min),Flow Out (liters/min),Temp In (F),Temp In (C),Temp Out (F),Temp Out (C)
49072,7/31/17,23:50:13,85.18,25.96,57.25,14.94,85.18,25.96,1126.80,343.43,...,274.83,43.69,1109.58,4200.22,101.61,384.64,90.87,32.71,93.49,34.16
49073,7/31/17,23:50:14,85.40,26.03,57.03,14.89,85.40,26.03,1042.29,317.67,...,274.84,43.70,1109.58,4200.22,101.68,384.90,90.87,32.71,93.49,34.16
49074,7/31/17,23:50:15,85.65,26.10,56.78,14.82,85.65,26.10,788.75,240.40,...,274.83,43.69,1109.78,4200.97,102.01,386.15,90.87,32.71,93.52,34.18
49075,7/31/17,23:50:16,85.78,26.14,56.65,14.79,85.78,26.14,721.14,219.79,...,274.83,43.69,1109.78,4200.97,101.70,384.98,90.87,32.71,93.52,34.18
49076,7/31/17,23:50:17,86.03,26.22,56.40,14.72,86.03,26.22,878.90,267.88,...,274.83,43.69,1109.58,4200.22,102.08,386.41,90.87,32.71,93.52,34.18
49077,7/31/17,23:50:18,86.18,26.27,56.25,14.68,86.18,26.27,721.14,219.79,...,274.83,43.69,1108.36,4195.60,101.70,384.98,90.83,32.68,93.52,34.18
49078,7/31/17,23:50:19,86.53,26.37,55.90,14.59,86.53,26.37,811.29,247.27,...,274.83,43.69,1107.55,4192.53,101.66,384.82,90.87,32.71,93.52,34.18
49079,7/31/17,23:50:20,86.53,26.37,55.71,14.54,80.19,24.44,0.00,0.00,...,274.83,43.69,1107.14,4190.98,101.56,384.45,90.83,32.68,93.52,34.18
49080,7/31/17,23:50:21,86.53,26.37,55.46,14.48,80.44,24.52,0.00,0.00,...,274.83,43.69,1107.34,4191.74,101.82,385.43,90.87,32.71,93.56,34.20
49081,7/31/17,23:50:22,86.53,26.37,55.34,14.45,80.56,24.55,0.00,0.00,...,274.83,43.69,1107.55,4192.53,101.47,384.11,90.83,32.68,93.56,34.20
49082,7/31/17,23:50:23,86.53,26.37,54.90,14.33,81.00,24.69,0.00,0.00,...,274.83,43.69,1107.95,4194.05,101.63,384.71,90.83,32.68,93.56,34.20
49083,7/31/17,23:50:24,86.53,26.37,54.74,14.29,81.16,24.74,0.00,0.00,...,274.83,43.69,1108.16,4194.84,101.68,384.90,90.83,32.68,93.60,34.22
49084,7/31/17,23:50:25,86.53,26.37,54.68,14.27,81.22,24.75,0.00,0.00,...,274.83,43.69,1108.16,4194.84,101.91,385.77,90.83,32.68,93.56,34.20
49085,7/31/17,23:50:26,86.53,26.37,54.40,14.20,81.50,24.84,0.00,0.00,...,274.83,43.69,1108.36,4195.60,101.94,385.88,90.83,32.68,93.60,34.22
49086,7/31/17,23:50:27,86.53,26.37,54.12,14.13,81.78,24.93,0.00,0.00,...,274.83,43.69,1109.17,4198.66,101.70,384.98,90.83,32.68,93.60,34.22
49087,7/31/17,23:50:28,86.53,26.37,53.93,14.08,81.97,24.98,0.00,0.00,...,274.83,43.69,1109.58,4200.22,101.87,385.62,90.83,32.68,93.60,34.22
49088,7/31/17,23:50:29,86.53,26.37,53.93,14.08,81.97,24.98,0.00,0.00,...,274.83,43.69,1110.39,4203.28,101.61,384.64,90.83,32.68,93.60,34.22
49089,7/31/17,23:50:30,86.53,26.37,53.87,14.06,82.03,25.00,0.00,0.00,...,274.83,43.69,1111.61,4207.90,101.73,385.09,90.83,32.68,93.60,34.22
49090,7/31/17,23:50:31,86.53,26.37,53.62,14.00,82.28,25.08,0.00,0.00,...,274.83,43.69,1112.02,4209.45,101.68,384.90,90.83,32.68,93.60,34.22
49091,7/31/17,23:50:32,86.53,26.37,53.62,14.00,82.28,25.08,0.00,0.00,...,274.83,43.69,1112.02,4209.45,101.68,384.90,90.83,32.68,93.60,34.22

In [79]:
new_time_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3331765 entries, 49072 to 3380836
Data columns (total 29 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Date                   object
 1   Time                   object
 2   Depth (ft)             float64
 3   Depth (m)              float64
 4   Block Ht (ft)          float64
 5   Block Ht (m)           float64
 6   Bit Depth (ft)         float64
 7   Bit Depth (m)          float64
 8   ROP(1 ft)              float64
 9   ROP(1 m)               float64
 10  Hookload (k lbs)       float64
 11  Hookload (kg)          float64
 12  Pump Pressure (psi)    float64
 13  Pump Press (KPa)       float64
 14  Surface Torque (psi)   float64
 15  Surface Torque (KPa)   float64
 16  Rotary Speed (rpm)     float64
 17  Pump 1 (spm)           float64
 18  Pump 2 (spm)           float64
 19  Pit Total (bbls)       float64
 20  Pit Total (m3)         float64
 21  Flow In (gal/min)      float64
 22  Flow In (liters/min)   float64
 23  Flow Out (gal/min)     float64
 24  Flow Out (liters/min)  float64
 25  Temp In (F)            float64
 26  Temp In (C)            float64
 27  Temp Out (F)           float64
 28  Temp Out (C)           float64
dtypes: float64(27), object(2)
memory usage: 737.2+ MB

In [1]:
time_df.describe()

NameError: name 'fd' is not defined

In [18]:
time_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3397398 entries, 0 to 3397397
Data columns (total 29 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Date                   object
 1   Time                   object
 2   Depth (ft)             float64
 3   Depth (m)              float64
 4   Block Ht (ft)          float64
 5   Block Ht (m)           float64
 6   Bit Depth (ft)         float64
 7   Bit Depth (m)          float64
 8   ROP(1 ft)              float64
 9   ROP(1 m)               float64
 10  Hookload (k lbs)       float64
 11  Hookload (kg)          float64
 12  Pump Pressure (psi)    float64
 13  Pump Press (KPa)       float64
 14  Surface Torque (psi)   float64
 15  Surface Torque (KPa)   float64
 16  Rotary Speed (rpm)     float64
 17  Pump 1 (spm)           float64
 18  Pump 2 (spm)           float64
 19  Pit Total (bbls)       float64
 20  Pit Total (m3)         float64
 21  Flow In (gal/min)      float64
 22  Flow In (liters/min)   float64
 23  Flow Out (gal/min)     float64
 24  Flow Out (liters/min)  float64
 25  Temp In (F)            float64
 26  Temp In (C)            float64
 27  Temp Out (F)           float64
 28  Temp Out (C)           float64
dtypes: float64(27), object(2)
memory usage: 751.7+ MB